body{
  background-color: rgb(202, 209, 196);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1{
  font-size: 40px;
  background-color: rgb(115, 137, 172);
  width: 750px;
  text-align: center;
  height: 8vh;
  letter-spacing: 1px;
}
.container h3{
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.container p{
  font-size: 15px;
  font-weight: 600;
}

.container input{
  padding: 15px 30px;
  width: 400px;
}

.btn{
  margin-top: 20px;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  background-color: rgb(115, 137, 172);
  outline: 0;
  border: 0;
}
.btn:hover{
  background-color: rgb(46, 62, 91);
  color: #ffff;
  transition:appo ease-in-out;
}
.appoint-list{
  margin: 20px auto;
  width: 80%;
  
}
.nav, .display{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav label, .display div {
  text-align: left;
  padding: 10px;
}
.display div {
  display: flex;
  align-items: center;
}

.display {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.nav {
  font-weight: bold;
  border-bottom: 2px solid black;
}